.container {
	padding-top: 0.5em;
}

.height-1 {
	 height: 70px;
	 line-height: 70px;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
}

nav ul li {
	display: inline;
	margin-right: 15px;
}

nav ul li a, a:visited {
	font-size: 120%;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

.user-image {
	padding-right: 1.5em;
	padding-bottom: 1.5em;
	vertical-align: middle;
	width: 200px;
} 

.user-image > img {
	width: 200px; 
	max-height: 200px;
}

input.clear-me-init {
	font-style: italic;
	color: #666666;
}
